@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

/*mixins*/
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
}

/* Variables */

    /*primary colors*/
    $Gold-500: hsl(31, 77%, 52%);
    $Cyan-800: hsl(184, 100%, 22%);
    $Green-950: hsl(179, 100%, 13%);

    /* Neutral*/
    $white-paragraphs: hsla(0, 0%, 100%, 0.75);
    $background-headings-buttons: hsl(0, 0%, 95%);
    $cards-grey: hsl(0, 0%, 90%);


/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Global Styles */
html {
  font-size: clamp(15px, 1.5vw + 1rem, 18px);
    body {
    line-height: 1.6;
    @include flex-center;
    @include flex-column();
    height: 100vh;
    a{
        text-decoration: none;
        color: darkolivegreen;
    }
    }
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: start;
        background-color: $background-headings-buttons;
        font-family: "Hanken Grotesk", sans-serif;
        font-size: 2.5rem;
        width: fit-content;
        height: max-content;
        .card{
        flex: 1;
        width: fit-content;
        padding: 2rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            .card-title {
                font-family: "Big Shoulders", sans-serif;
                text-transform: uppercase;
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }    
            p {
                font-size: clamp(0.875rem, 0.5vw + 0.5rem, 1rem);
                margin-bottom: 1.5rem;
                color: $white-paragraphs;
                width: 23ch;
            }
                    
            .card-cta {
                background-color: $background-headings-buttons;
                font-size: small;
                border-radius: 50px;
                border: 2px solid $background-headings-buttons;
                cursor: pointer;
                width: 60%;
                height: max-content;
                padding: 0.75rem;
                @include flex-center;
                text-decoration: none;
                margin: 4rem 0 0 0;
                transition: all 0.3s ease;
            }
            .card-cta:hover {
                background-color: transparent;
                color: $background-headings-buttons;
            }
        }
    }

    .card-sedan {
        background-color: $Gold-500;
        color: white;
        .card-cta{
            color: $Gold-500;
        }
    }
    .card-suv {
        background-color: $Cyan-800;
        color: white;
        .card-cta{
            color: $Cyan-800;
        }
    }
    .card-luxury {
        background-color: $Green-950;
        color: white;
        .card-cta{
            color: $Green-950;
        }
    }
    .card-icon {
        width: 50px;
        margin-bottom: 1rem;
        display: block;
    }
    
}

@media (max-width: 1440px) {
    body{
        height: 100vh;
        width: 100vw;
        display: flex;
        @include flex-column;
        overflow: auto;
    }
    .container {
        text-align: start;
        height: 100%;
        overflow: auto;
        @include flex-column;

        /*place-items: center;*/
        .card{
            padding: 2rem;
            box-shadow: none;
            align-self: center;
        }
        .card-luxury{
            grid-row: 3;
        }
        .card-sedan{
            grid-row: 1;
        }
        .card-suv{
            grid-row: 2;
        }
        .card-cta {
            margin-top: 1rem;
        }
    }
}